div.allformfield div {
    margin-top: 15px;
}

div.allformfield input {
    width: 100%;
}

.kbw-signature { width: 400px; height: 200px; }

div#sig canvas {
    border: 1px solid black !important;
}




 .disabled.disabled, .disabled:disabled {
    opacity: 0.65;
  }
  
  .disabled:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
  
  .disabled.disabled,
  .disabled:disabled .disabled {
    pointer-events: none;
  }